# Model to estimate the value, rental yield based on given factors

This is a model which takes data from Daft.ie and estimates the value of a housing investment, based on certain key metrics

In [19]:
#import libraries
import pandas as pd
import numpy as ny
import random as rd

In [2]:
#Read in data from folder
house_prices = pd.read_excel('PPR-ALL.xlsx')

# Some basis statistics and Information
The following information can be found below:

- The first five rows of the data set
- The Names of the columns in the data
- The size of the data set (rows, columns)

In [3]:
#First Five Rows
house_prices.head()

,Date_of_Sale,Address,Postal_Code,County,Price_EUR,Not_Full_Market_Price,VAT_Exclusive,Description_of_Property,Property_Size_Description
0,2010-01-01,"5 Braemor Drive, Churchtown, Co.Dublin",NaN,Dublin,343000.0,No,No,Second-Hand Dwelling house /Apartment,NaN
1,2010-01-03,"134 Ashewood Walk, Summerhill Lane, Portlaoise",NaN,Laois,185000.0,No,Yes,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...
2,2010-01-04,"1 Meadow Avenue, Dundrum, Dublin 14",NaN,Dublin,438500.0,No,No,Second-Hand Dwelling house /Apartment,NaN
3,2010-01-04,"1 The Haven, Mornington",NaN,Meath,400000.0,No,No,Second-Hand Dwelling house /Apartment,NaN
4,2010-01-04,"11 Melville Heights, Kilkenny",NaN,Kilkenny,160000.0,No,No,Second-Hand Dwelling house /Apartment,NaN

In [4]:
#Colmns information
house_prices.columns

Index(['Date_of_Sale', 'Address', 'Postal_Code', 'County', 'Price_EUR',
       'Not_Full_Market_Price', 'VAT_Exclusive', 'Description_of_Property',
       'Property_Size_Description'],
      dtype='object')

In [5]:
#Shape of the data
house_prices.shape

(444902, 9)

# Data Validation and Understanding (Including Data Exploration Questions)
We go through each column and apply data checks and basic statistics to ensure we fully understand the data set we are using. The checks carried out for each respective column column are detailed below.

- **Date of Sale**
    - Range of values
    - What is the date format?
- **Address**
    - Value for all observations
    - Duplicate values?
    - How is the address stated?
- **Postal Code**
    - Available for all observations?
    - Duplicated values? Would expect to be much more likely than address
- **County**
    - 26 or 32 counties included?
    - Much data in each county?
    - Available for all observations?
- **Not full Market Price**
    - What is it allowed to be? Just N or Y??
    - Available for all observations?
- **VAT Exclusive**
    - What is it allowed to be?
    - Available for all observations?
- **Propertzy Size Description**
    - What is it allowed to be?
    - Available for all observations?
    
 ## Answers to exploratory questions
 - **Date of Sale**
     - Between 2010 and november 2020
     - YY/MM/DD
 - **Address**
     - There are observations with repeating addresses. Are this the same property?

In [36]:
# General Data Exploration
print('Data Checks for the Date of Sale Column')
print('Earliest Sale: '+ str((house_prices.Date_of_Sale.min())))
print('Earliest Sale: '+ str((house_prices.Date_of_Sale.max())))

#Check random 20 Policies for the date format
temp_col = house_prices['Date_of_Sale']
ny.random.seed(200000)
random_sample = []
print('Check random observations')
for i in range(20):
    print(str(temp_col[rd.randint(0,house_prices.Date_of_Sale.count())]))
    

print('\nChecks on the Address column')
print('Unique Values for Address')
print(house_prices.Address.nunique())
unique_addresses = house_prices.Address.value_counts()
unique_addresses.head()
print(unique_addresses.value_counts())

print('\nView the observations where the address repeats 9 times!')

Data Checks for the Date of Sale Column
Earliest Sale: 2010-01-01 00:00:00
Earliest Sale: 2020-11-13 00:00:00
Check random observations
2016-12-22 00:00:00
2017-05-31 00:00:00
2019-06-28 00:00:00
2018-07-27 00:00:00
2020-04-08 00:00:00
2015-12-15 00:00:00
2014-12-22 00:00:00
2011-08-30 00:00:00
2013-08-09 00:00:00
2017-03-20 00:00:00
2014-03-06 00:00:00
2010-04-29 00:00:00
2016-12-22 00:00:00
2016-09-30 00:00:00
2013-11-26 00:00:00
2019-02-14 00:00:00
2017-02-21 00:00:00
2016-02-08 00:00:00
2016-09-02 00:00:00
2019-05-14 00:00:00

Checks on the Address column
Unique Values for Address
416720
1     392420
2      21511
3       2109
4        442
5        143
6         62
7         15
8          8
9          6
11         3
21         1
Name: Address, dtype: int64

In [6]:
VAT = 0.13

VAT_Included = house_prices['VAT_Exclusive'] == 'Yes'
Actual_Price = house_prices['Price_EUR'] * (1 + VAT * VAT_Included)
house_prices['Price_Paid'] = Actual_Price
house_prices.head()

,Date_of_Sale,Address,Postal_Code,County,Price_EUR,Not_Full_Market_Price,VAT_Exclusive,Description_of_Property,Property_Size_Description,Price_Paid
0,2010-01-01,"5 Braemor Drive, Churchtown, Co.Dublin",NaN,Dublin,343000.0,No,No,Second-Hand Dwelling house /Apartment,NaN,343000.0
1,2010-01-03,"134 Ashewood Walk, Summerhill Lane, Portlaoise",NaN,Laois,185000.0,No,Yes,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...,209050.0
2,2010-01-04,"1 Meadow Avenue, Dundrum, Dublin 14",NaN,Dublin,438500.0,No,No,Second-Hand Dwelling house /Apartment,NaN,438500.0
3,2010-01-04,"1 The Haven, Mornington",NaN,Meath,400000.0,No,No,Second-Hand Dwelling house /Apartment,NaN,400000.0
4,2010-01-04,"11 Melville Heights, Kilkenny",NaN,Kilkenny,160000.0,No,No,Second-Hand Dwelling house /Apartment,NaN,160000.0

Timestamp('2010-01-01 00:00:00')