# Model to estimate the value, rental yield based on given factors

This is a model which takes data from Daft.ie and estimates the value of a housing investment, based on certain key metrics

In [1]:
#import libraries
import pandas as pd

In [2]:
#Read in data from folder
house_prices = pd.read_excel('PPR-ALL.xlsx')

# Some basis statistics and Information
The following information can be found below:

- The first five rows of the data set
- The Names of the columns in the data
- The size of the data set (rows, columns)

In [3]:
#First Five Rows
house_prices.head()

,Date_of_Sale,Address,Postal_Code,County,Price_EUR,Not_Full_Market_Price,VAT_Exclusive,Description_of_Property,Property_Size_Description
0,2010-01-01,"5 Braemor Drive, Churchtown, Co.Dublin",NaN,Dublin,343000.0,No,No,Second-Hand Dwelling house /Apartment,NaN
1,2010-01-03,"134 Ashewood Walk, Summerhill Lane, Portlaoise",NaN,Laois,185000.0,No,Yes,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...
2,2010-01-04,"1 Meadow Avenue, Dundrum, Dublin 14",NaN,Dublin,438500.0,No,No,Second-Hand Dwelling house /Apartment,NaN
3,2010-01-04,"1 The Haven, Mornington",NaN,Meath,400000.0,No,No,Second-Hand Dwelling house /Apartment,NaN
4,2010-01-04,"11 Melville Heights, Kilkenny",NaN,Kilkenny,160000.0,No,No,Second-Hand Dwelling house /Apartment,NaN

In [7]:
#Colmns information
house_prices.columns

Index(['Date_of_Sale', 'Address', 'Postal_Code', 'County', 'Price_EUR',
       'Not_Full_Market_Price', 'VAT_Exclusive', 'Description_of_Property',
       'Property_Size_Description'],
      dtype='object')

In [8]:
#Shape of the data
house_prices.shape

(444902, 9)