# A Jupyter Notebook to analyse a Housing Investment Opportunity

This notebook is intended to be used to help in the valuation and estimate the potential from a housing investment

# Initial Steps

1. Read in required libraries
2. Read in Data
3. Initial Viewing of data
    - Shape
    - Column Names
    - Info on each column

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('PPR-ALL.csv')

In [4]:
data.shape

(444902, 9)

In [5]:
data.columns

Index(['Date_of_Sale', 'Address', 'Postal_Code', 'County', 'Price_EUR',
       'Not_Full_Market_Price', 'VAT_Exclusive', 'Description_of_Property',
       'Property_Size_Description'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444902 entries, 0 to 444901
Data columns (total 9 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date_of_Sale               444902 non-null  object
 1   Address                    444901 non-null  object
 2   Postal_Code                83622 non-null   object
 3   County                     444902 non-null  object
 4   Price_EUR                  444902 non-null  object
 5   Not_Full_Market_Price      444902 non-null  object
 6   VAT_Exclusive              444902 non-null  object
 7   Description_of_Property    444902 non-null  object
 8   Property_Size_Description  52739 non-null   object
dtypes: object(9)
memory usage: 30.5+ MB

In [10]:
#Check the unique values for each column
unique_array = []
index_dictionary = {}

for col in data.columns:
    unique_array.append(data[col].value_counts())
    index_dictionary[col] = data.columns.get_loc(col)

{'Date_of_Sale': 0,
 'Address': 1,
 'Postal_Code': 2,
 'County': 3,
 'Price_EUR': 4,
 'Not_Full_Market_Price': 5,
 'VAT_Exclusive': 6,
 'Description_of_Property': 7,
 'Property_Size_Description': 8}

In [18]:
for col in data.columns:
    print("\n",col,"\nCount:", unique_array[index_dictionary[col]].count())
    print("Sum:", unique_array[index_dictionary[col]].sum())
    print("Unique Values:\n", unique_array[index_dictionary[col]])

 Date_of_Sale
Count: 3749
Sum: 444902
Unique Values:
 12/22/14    1540
12/20/13    1161
12/19/14     964
12/20/18     816
12/20/19     801
            ...
4/22/12        1
9/7/14         1
3/29/20        1
2/9/13         1
3/16/19        1
Name: Date_of_Sale, Length: 3749, dtype: int64

 Address
Count: 416720
Sum: 444901
Unique Values:
 Broomfield, Midleton                     21
HILLQUARTER, COOSAN, ATHLONE             11
ROCK RD, BLACKROCK, DUNDALK              11
FRIARSTOWN, GRANGE, KILMALLOCK           11
Ballyargus, Redcastle                     9
                                         ..
71 Delvin Banks, The Naul, Co. Dublin     1
16 Newtown Mews, Annacotty                1
KILLEA, BALLINDERRY, TIPPERARY            1
56 TOWNPARKS MANOR, KELLS, MEATH          1
3 The Reeks, Rockfield, Killarney         1
Name: Address, Length: 416720, dtype: int64

 Postal_Code
Count: 31
Sum: 83622
Unique Values:
 Dublin 15               10455
Dublin 18                6054
Dublin 24                5805
Dublin 8                 4992
Dublin 4                 4810
Dublin 9                 4751
Dublin 7                 4675
Dublin 11                4542
Dublin 13                4192
Dublin 12                4114
Dublin 14                3953
Dublin 16                3850
Dublin 6                 3775
Dublin 3                 3622
Dublin 5                 3250
Dublin 1                 2792
Dublin 22                2457
Dublin 2                 1659
Dublin 10                1128
Dublin 20                1022
Dublin 17                 969
Dublin 6w                 741
Ní Bhaineann                4
Baile Átha Cliath 3         2
Baile Átha Cliath 18        2
Baile Átha Cliath 9         1
Baile Átha Cliath 5         1
Baile Átha Cliath 14        1
Baile Átha Cliath 15        1
Baile ?tha Cliath 17        1
Baile Átha Cliath 4         1
Name: Postal_Code, dtype: int64

 County
Count: 26
Sum: 444902
Unique Values:
 Dublin       143679
Cork          48775
Galway        22454
Kildare       22150
Meath         17586
Limerick      16660
Wexford       15025
Wicklow       13760
Kerry         12925
Donegal       12178
Tipperary     11912
Louth         11815
Waterford     11735
Mayo          10528
Clare         10188
Westmeath      8594
Kilkenny       6991
Cavan          6914
Laois          6736
Sligo          6583
Roscommon      6349
Offaly         5286
Carlow         4833
Leitrim        3982
Longford       3795
Monaghan       3469
Name: County, dtype: int64

 Price_EUR
Count: 28163
Sum: 444902
Unique Values:
 € 150,000.00    5899
€ 100,000.00    5501
€ 200,000.00    5007
€ 120,000.00    4699
€ 180,000.00    4407
                ...
€ 41,950.00        1
€ 86,652.00        1
€ 140,998.00       1
€ 338,018.00       1
€ 61,560.00        1
Name: Price_EUR, Length: 28163, dtype: int64

 Not_Full_Market_Price
Count: 2
Sum: 444902
Unique Values:
 No     423092
Yes     21810
Name: Not_Full_Market_Price, dtype: int64

 VAT_Exclusive
Count: 2
Sum: 444902
Unique Values:
 No     374252
Yes     70650
Name: VAT_Exclusive, dtype: int64

 Description_of_Property
Count: 5
Sum: 444902
Unique Values:
 Second-Hand Dwelling house /Apartment    372730
New Dwelling house /Apartment             72138
Teach/Árasán Cónaithe Atháimhe               31
Teach/Árasán Cónaithe Nua                     2
Teach/?ras?n C?naithe Nua                     1
Name: Description_of_Property, dtype: int64

 Property_Size_Description
Count: 6
Sum: 52739
Unique Values:
 greater than or equal to 38 sq metres and less than 125 sq metres                  38027
greater than 125 sq metres                                                          6857
greater than or equal to 125 sq metres                                              4589
less than 38 sq metres                                                              3263
níos mó ná nó cothrom le 38 méadar cearnach agus níos lú ná 125 méadar cearnach        2
n?os l? n? 38 m?adar cearnach                                                          1
Name: Property_Size_Description, dtype: int64

# Conclusions from these summaries

1. The following columns seem to be missing data
    - Address - 1 Missing Value
    - Postal Code - Lots of missing values
    - Property Size Description - Lots of Missing Values
2. All Data types were read in as objects. This will need to be remidied